@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/media-queries.scss";

.list {
  border-radius: $border-radius;
  background-color: $white-color;
  box-shadow: 0px 10px 15px rgba(178, 84, 255, 0.5);
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: $spacing-small;
  box-sizing: border-box;
  padding: $padding-xxxlarge;
  height: 56vh;
  overflow-y: scroll;
  min-width: 200px;
  align-items: center;

  @include mobile {
    padding: $padding-xlarge;
    height: 400px;
  }
}
