@import "../../../assets/styles/variables.scss";

.status-bar {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.status-name {
  color: $black-color;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-light;
  width: 120px;
  text-align: start;
}
.status-bar-container {
  flex-grow: 1;
  height: 8px;
  background-color: #f0f0f0;
  border-radius: 7px;
  margin: 0 16px;
  width: 100px;
}
.status-bar-fill {
  height: 100%;
  background-color: $secondary-color;
  border-radius: 7px;
}
.status-value {
  color: $black-color;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-bold;
  width: 30px;
  text-align: right;
}
