html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}

main {
  flex: 1;
  min-height: 100%;
  background-color: #f4e6fa;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
